doctype html
html(lang='Pt-br')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    title Spotify Clone
  body
    .grid.h-screen.wrapper
      section.sidebar.row-span-2.col-span-1.bg-gray-500
        .sidebar__fixed.flex.flex-col.pt-5
          img.logo.mx-5.mb-6(src='../assets/images/logo.svg')
          ul.text-white
            li.sidebar__item.cursor-pointer
              img.mr-5(src='../assets/images/home.svg')
              p Início
            li.sidebar__item.cursor-pointer
              img.mr-5(src='../assets/images/search.svg')
              p Buscar
            li.sidebar__item.cursor-pointer
              img.mr-5(src='../assets/images/library.svg')
              p Sua Biblioteca
          h1.text-white.pl-6.text-xs.font-bold.mt-6.mb-3.tracking-widest PLAYLISTS
          ul.text-white.mb-2
            li.px-6.py-2.h-11_5.leading-10.flex.items-center
              svg.plus-icon.mr-4(
                shape-rendering='crispEdges',
                viewbox='0 0 36 36'
              )
                path(d='m28 20h-8v8h-4v-8h-8v-4h8v-8h4v8h8v4z')
              span.text-sm.font-bold Criar playlist
            li.px-6.py-2.h-11_5.leading-10.flex.items-center
              .heart-wrapper.mr-4
                svg.Svg-ulyrgf-0.hJgLcF(
                  role='img',
                  height='16',
                  width='16',
                  viewbox='0 0 16 16'
                )
                  path(fill='none', d='M0 0h16v16H0z')
                  path(
                    d='M13.797 2.727a4.057 4.057 0 00-5.488-.253.558.558 0 01-.31.112.531.531 0 01-.311-.112 4.054 4.054 0 00-5.487.253c-.77.77-1.194 1.794-1.194 2.883s.424 2.113 1.168 2.855l4.462 5.223a1.791 1.791 0 002.726 0l4.435-5.195a4.052 4.052 0 001.195-2.883 4.057 4.057 0 00-1.196-2.883z'
                  )

              span.text-sm.font-bold Músicas Curtidas
          hr.w-46.ml-6.delimiter
        .sidebar__overflow.overflow-y-scroll
          ul.px-6.text-white
            li.h-8.text-sm.leading-8 Pagode
            li.h-8.text-sm.leading-8 Sertanejo
            li.h-8.text-sm.leading-8 Funk
            li.h-8.text-sm.leading-8 Forró
            li.h-8.text-sm.leading-8 Descobertas da semana
        .sidebar__app.text-white.px-6.text-sm.leading-10.font-bold.flex.items-center
          svg.mr-1(role='img', height='24', width='24', viewbox='0 0 24 24')
            path(
              d='M11.5 0C5.149 0 0 5.148 0 11.5 0 17.851 5.149 23 11.5 23S23 17.851 23 11.5C23 5.148 17.851 0 11.5 0zm0 22C5.71 22 1 17.29 1 11.5S5.71 1 11.5 1 22 5.71 22 11.5 17.29 22 11.5 22zm.499-6.842V5h-1v10.149l-3.418-3.975-.758.652 4.678 5.44 4.694-5.439-.757-.653-3.439 3.984z',
              fill='white'
            )

          span Instalar aplicativo
      section.menu.flex.justify-between.row-span-1.col-span-1.bg-gray-400
        .menu__nav.flex.items-center.h-full.pl-6
          img.menu__nav__left.mx-2.p-1.bg-gray-700.rounded-full.cursor-pointer(
            src='../assets/images/left.svg'
          )
          img.menu__nav__right.mx-2.p-1.bg-gray-700.rounded-full.cursor-pointer(
            src='../assets/images/right.svg'
          )
        .menu__content.flex.items-center.pr-3
          a.menu__content__upgrade.mx-3.text-xs.text-white.border.border-white.py-2.border-solid.rounded-full.px-9.font-bold.tracking-widest(
            href='#',
            class='sm:none'
          ) FAÇA UPGRADE
          nav.menu__content__nav.mx-4.cursor-pointer
            .user_wrapper.flex.items-center.bg-gray-500.rounded-full
              img.bg-gray-600.rounded-full.p-2.mr-2(
                src='../assets/images/user.svg'
              )
              .text-white.text-sm.font-bold ronnasayd
              svg#dropdown-icon.mx-3(
                role='img',
                height='16',
                width='16',
                viewbox='0 0 16 16'
              )
                path(d='M3 6l5 5.794L13 6z', fill='white')

            ul#dropdown-menu.bg-white.absolute.w-36.rounded-sm.mt-2.pt-3
              li.h-9_5.text-sm.px-3.leading-9 Conta
              li.h-9_5.text-sm.px-3.leading-9.item-border Perfil
              li.h-9_5.text-sm.px-3.leading-9 Sair
      section.content.row-span-1.col-span-1.bg-gray-800.overflow-auto
        ul.px-8
          li.mt-4.mb-8
            h1.text-2xl.font-bold.text-white.mb-5 Atalhos
            ul.content.card-content.mb-5
              li.card.p-4.text-white.rounded-md.bg-gray-500
                .card__image.bg-gray-300
                .card__content
                  .card__content__title.font-bold.mt-3.mb-1 Lorem ipsum dolor
                  .card__content__description.text-sm Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolores itaque provident quos laudantium magni sapiente placeat, est ipsum quas! Officiis minus voluptatem ipsa qui quod minima saepe nisi! Quasi.
              li.card.p-4.text-white.rounded-md.bg-gray-500
                .card__image.bg-gray-300
                .card__content
                  .card__content__title.font-bold.mt-3.mb-1 Lorem ipsum dolor
                  .card__content__description.text-sm Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolores itaque provident quos laudantium magni sapiente placeat, est ipsum quas! Officiis minus voluptatem ipsa qui quod minima saepe nisi! Quasi.
              li.card.p-4.text-white.rounded-md.bg-gray-500
                .card__image.bg-gray-300
                .card__content
                  .card__content__title.font-bold.mt-3.mb-1 Lorem ipsum dolor
                  .card__content__description.text-sm Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolores itaque provident quos laudantium magni sapiente placeat, est ipsum quas! Officiis minus voluptatem ipsa qui quod minima saepe nisi! Quasi.
              li.card.p-4.text-white.rounded-md.bg-gray-500
                .card__image.bg-gray-300
                .card__content
                  .card__content__title.font-bold.mt-3.mb-1 Lorem ipsum dolor
                  .card__content__description.text-sm Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolores itaque provident quos laudantium magni sapiente placeat, est ipsum quas! Officiis minus voluptatem ipsa qui quod minima saepe nisi! Quasi.
              li.card.p-4.text-white.rounded-md.bg-gray-500
                .card__image.bg-gray-300
                .card__content
                  .card__content__title.font-bold.mt-3.mb-1 Lorem ipsum dolor
                  .card__content__description.text-sm Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolores itaque provident quos laudantium magni sapiente placeat, est ipsum quas! Officiis minus voluptatem ipsa qui quod minima saepe nisi! Quasi.
          li.mt-4.mb-8
            h1.text-2xl.font-bold.text-white.mb-5 Tocado recentemente
            ul.content.card-content.mb-5
              li.card.p-4.text-white.rounded-md.bg-gray-500
                .card__image.bg-gray-300
                .card__content
                  .card__content__title.font-bold.mt-3.mb-1 Lorem ipsum dolor
                  .card__content__description.text-sm Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolores itaque provident quos laudantium magni sapiente placeat, est ipsum quas! Officiis minus voluptatem ipsa qui quod minima saepe nisi! Quasi.
              li.card.p-4.text-white.rounded-md.bg-gray-500
                .card__image.bg-gray-300
                .card__content
                  .card__content__title.font-bold.mt-3.mb-1 Lorem ipsum dolor
                  .card__content__description.text-sm Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolores itaque provident quos laudantium magni sapiente placeat, est ipsum quas! Officiis minus voluptatem ipsa qui quod minima saepe nisi! Quasi.
              li.card.p-4.text-white.rounded-md.bg-gray-500
                .card__image.bg-gray-300
                .card__content
                  .card__content__title.font-bold.mt-3.mb-1 Lorem ipsum dolor
                  .card__content__description.text-sm Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolores itaque provident quos laudantium magni sapiente placeat, est ipsum quas! Officiis minus voluptatem ipsa qui quod minima saepe nisi! Quasi.
              li.card.p-4.text-white.rounded-md.bg-gray-500
                .card__image.bg-gray-300
                .card__content
                  .card__content__title.font-bold.mt-3.mb-1 Lorem ipsum dolor
                  .card__content__description.text-sm Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolores itaque provident quos laudantium magni sapiente placeat, est ipsum quas! Officiis minus voluptatem ipsa qui quod minima saepe nisi! Quasi.
              li.card.p-4.text-white.rounded-md.bg-gray-500
                .card__image.bg-gray-300
                .card__content
                  .card__content__title.font-bold.mt-3.mb-1 Lorem ipsum dolor
                  .card__content__description.text-sm Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolores itaque provident quos laudantium magni sapiente placeat, est ipsum quas! Officiis minus voluptatem ipsa qui quod minima saepe nisi! Quasi.
          li.mt-4.mb-8
            h1.text-2xl.font-bold.text-white.mb-5 Para conhecer
            ul.content.card-content.mb-5
              li.card.p-4.text-white.rounded-md.bg-gray-500
                .card__image.bg-gray-300
                .card__content
                  .card__content__title.font-bold.mt-3.mb-1 Lorem ipsum dolor
                  .card__content__description.text-sm Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolores itaque provident quos laudantium magni sapiente placeat, est ipsum quas! Officiis minus voluptatem ipsa qui quod minima saepe nisi! Quasi.
              li.card.p-4.text-white.rounded-md.bg-gray-500
                .card__image.bg-gray-300
                .card__content
                  .card__content__title.font-bold.mt-3.mb-1 Lorem ipsum dolor
                  .card__content__description.text-sm Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolores itaque provident quos laudantium magni sapiente placeat, est ipsum quas! Officiis minus voluptatem ipsa qui quod minima saepe nisi! Quasi.
              li.card.p-4.text-white.rounded-md.bg-gray-500
                .card__image.bg-gray-300
                .card__content
                  .card__content__title.font-bold.mt-3.mb-1 Lorem ipsum dolor
                  .card__content__description.text-sm Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolores itaque provident quos laudantium magni sapiente placeat, est ipsum quas! Officiis minus voluptatem ipsa qui quod minima saepe nisi! Quasi.
              li.card.p-4.text-white.rounded-md.bg-gray-500
                .card__image.bg-gray-300
                .card__content
                  .card__content__title.font-bold.mt-3.mb-1 Lorem ipsum dolor
                  .card__content__description.text-sm Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolores itaque provident quos laudantium magni sapiente placeat, est ipsum quas! Officiis minus voluptatem ipsa qui quod minima saepe nisi! Quasi.
              li.card.p-4.text-white.rounded-md.bg-gray-500
                .card__image.bg-gray-300
                .card__content
                  .card__content__title.font-bold.mt-3.mb-1 Lorem ipsum dolor
                  .card__content__description.text-sm Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolores itaque provident quos laudantium magni sapiente placeat, est ipsum quas! Officiis minus voluptatem ipsa qui quod minima saepe nisi! Quasi.
      section.player.flex.row-span-1.col-span-2.bg-gray-600.px-4.items-center
        .player__left.flex.text-white.items-center
          .player__left__thumb.bg-gray-100
          .player__left__content(class='mx-3.5')
            .player__left__content__title.text-sm Lorem, ipsum
            .player__left__content__description.text-xs Lorem ipsum do
          .player__left__love-icon.w-8.h-8.grid
            svg.place-self-center.Svg-ulyrgf-0.hJgLcF(
              role='img',
              height='16',
              width='16',
              viewbox='0 0 16 16'
            )
              path(
                d='M13.764 2.727a4.057 4.057 0 00-5.488-.253.558.558 0 01-.31.112.531.531 0 01-.311-.112 4.054 4.054 0 00-5.487.253A4.05 4.05 0 00.974 5.61c0 1.089.424 2.113 1.168 2.855l4.462 5.223a1.791 1.791 0 002.726 0l4.435-5.195A4.052 4.052 0 0014.96 5.61a4.057 4.057 0 00-1.196-2.883zm-.722 5.098L8.58 13.048c-.307.36-.921.36-1.228 0L2.864 7.797a3.072 3.072 0 01-.905-2.187c0-.826.321-1.603.905-2.187a3.091 3.091 0 012.191-.913 3.05 3.05 0 011.957.709c.041.036.408.351.954.351.531 0 .906-.31.94-.34a3.075 3.075 0 014.161.192 3.1 3.1 0 01-.025 4.403z',
                fill='currentColor'
              )
          .player__left__screen-icon.w-8.h-8.grid
            svg.place-self-center(
              width='16',
              height='16',
              xmlns='http://www.w3.org/2000/svg'
            )
              g(fill='currentColor', fill-rule='evenodd')
                path(
                  d='M1 3v9h14V3H1zm0-1h14a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1z',
                  fill-rule='nonzero'
                )
                path(d='M10 8h4v3h-4z')
        .player__center
        .player__right.flex.items-center.justify-end.text-white
          .player__right__item-1
            svg.Svg-ulyrgf-0.hJgLcF(
              role='img',
              height='16',
              width='16',
              viewbox='0 0 16 16'
            )
              path(
                d='M8.5 1A4.505 4.505 0 004 5.5c0 .731.191 1.411.502 2.022L1.99 13.163a1.307 1.307 0 00.541 1.666l.605.349a1.307 1.307 0 001.649-.283L9.009 9.95C11.248 9.692 13 7.807 13 5.5 13 3.019 10.981 1 8.5 1zM4.023 14.245a.307.307 0 01-.388.066l-.605-.349a.309.309 0 01-.128-.393l2.26-5.078A4.476 4.476 0 007.715 9.92l-3.692 4.325zM8.5 9C6.57 9 5 7.43 5 5.5S6.57 2 8.5 2 12 3.57 12 5.5 10.429 9 8.5 9z',
                fill='currentColor'
              )

          .player__right__item-2
            span.spoticon-queue
          .player__right__item-3
            span.spoticon-devices
          .player__right__item-4
            svg#volume-icon.Svg-ulyrgf-0.hJgLcF(
              role='presentation',
              height='16',
              width='16',
              aria-label='Volume alto',
              viewbox='0 0 16 16'
            )
              path(
                d='M12.945 1.379l-.652.763c1.577 1.462 2.57 3.544 2.57 5.858s-.994 4.396-2.57 5.858l.651.763a8.966 8.966 0 00.001-13.242zm-2.272 2.66l-.651.763a4.484 4.484 0 01-.001 6.397l.651.763c1.04-1 1.691-2.404 1.691-3.961s-.65-2.962-1.69-3.962zM0 5v6h2.804L8 14V2L2.804 5H0zm7-1.268v8.536L3.072 10H1V6h2.072L7 3.732z',
                fill='currentColor'
              )
          .player__right__item-5
            input.player__sound__slider(type='range')
